<div class="jumbotron bg-primary text-center">
  <h1><font color="white">FirmAndando</font></h1>
</div>
<div class="border-form-div-extra">
    <h2 class="text-center">Descargando firma...</h2>   
</div>