<head>
	<div class="jumbotron bg-primary text-center">
		<h1><font color="white">FirmAndando</font></h1>
	</div>
	<%= link_to "Regresar", :back %>
</head>
<center>
	<h2>Documentos compartidos</h2>
</center><br />
<div class="card-columns" id="cards">
    <% @documents.each do |document| %>
	<div class='card bg-light'>
		<div class='card-body text-center'>
			<h4 class='card-title'><%= document.nombre %></h4>
				<p class='card-text'><%= document.created_at %></p>
				<%= link_to 'Ver detalles', document_path(document) %>
		</div>
    </div>
    <% end %>
</div>