<p>Hola, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Solo queremos notificarte que tu correo electrónico se desea modificar a: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Solo queremos notificarte que tu correo electrónico ha sido modificado a: <%= @resource.email %>.</p>
<% end %>
