<p>Hola, <%= @resource.email %>!</p>

<p>Has solicitado cambiar tu contraseña, por favor da clic en el siguiente enlace.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tú no lo has solicitado, por favor ignora este correo.</p>
<p>Tu contraseña nunca cambiará si no ingresas al enlace anterior.</p>
